<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
    <link rel="shortcut icon" href="../../public/img/weather.png" type="image/x-icon">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by Dakota Erickson using Nodejs. It uses data from mapbox.com and weatherstack.com
            to give accurate weather information.
        </p>
        <img src="./img/meAndHenry.jpg" alt="Dakota and Henry" class="portrait">
    </div>
    {{>footer}}
</body>
</html>